/* Colors */
$color-white: #FFFFFF;
$color-primary: #1F222D;
$color-secondary: #161A20;

/* Whitespaces */
$whitespace: 2.5rem;

/* Border radius */
$border-radius: 1rem;

/* Breakpoints */
$breakpoint-xs: 480px;   // Extra small devices (phones)
$breakpoint-sm: 640px;   // Small devices (larger phones)
$breakpoint-md: 768px;   // Medium devices (tablets)
$breakpoint-lg: 1024px;  // Large devices (laptops)
$breakpoint-xl: 1280px;  // Extra large devices (desktops)
$breakpoint-2xl: 1440px; // Extra extra large devices (ultrawide)